html, body, .Main {
	height: 560px;
	width: 480px;
	margin: 0 auto;
}

.conteudo {
	position: relative;
}

.conteudo section {
	position: absolute;
	top: 20px;
}

.conteudo .home { z-index: 2; }
.conteudo .interna { z-index: 1; }

.conteudo section article {
	cursor: pointer;
}