.interna {
	opacity: 0;
	width: 480px;
	height: 0px;
	position: absolute;
	top: 0px;
	background-color: #fff;
	transition: all 1s;
}

.conteudo .interna.aberta {
	opacity: 1;
	height: 500px;
	z-index: 3;
}

.interna .voltar { cursor: pointer; }

.interna .texto {
	max-height: 400px;
	overflow-y: auto; 
}